<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <br />
        <h2>About us</h2>
        <br />
        <h3>Our mission</h3>
        <br />

        <p>Crit is open and free, game reviewing platform. You can stay here and discower opinions of other player or to create your own.</p>
        <br />
        <p>We hope you will value time spend here!</p>
        <br /><br />
        <img th:src="@{/logos/critLogoBlack.png}" class="center"/>
    </div>
</div>
</body>
</html>