<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
<div class="container">
    <br />
    <h2>Contact</h2>

    <address>
        Crit Platform<br />
        Boston, BL 34092-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">CritSupport@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">CritMarketing@example.com</a>
    </address>
</div>
</div>
</body>
</html>