<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <br>
    <div class="container">
        <form th:action="@{/addGame}" th:object="${newGame}" method="post">
            <p>Title: <input class="form-control" type="text" th:field="*{name}"></p>
            <p>Description: <input class="form-control" type="text" th:field="*{description}"></p>
            <p>Release Date: <input class="form-control" type="date" th:field="*{releaseDate}"></p>
            <p>Producer:
            <select th:field="*{producer}" class="form-control">
                <option value="">Select Producer</option>
                <option type="text" th:each="producer : ${producersList}"
                        th:text="${producer.getName()}"
                        th:value="${producer.getId()}">
                </option>
            </select></p>
            <p>Type: <input class="form-control" type="text" th:field="*{type}"></p>
            <p>Picture: <input class="form-control" type="file" th:field="*{picture}"></p>
            <p>Platforms: <input class="form-control" type="text" th:field="*{platfroms}"></p>
            <p><input type="submit" value="Add new game" class="btn btn-primary"></p>
        </form>
        <a th:href="@{/games}">
            <button class="btn btn-dark">Back to games</button>
        </a>
    </div>
</div>
</body>
</html>