<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <br>
    <div class="container">
        <a sec:authorize="hasAuthority('admin')" th:href="@{/createGame}">
            <button class="btn btn-info" >Add game</button>
        </a>
        <br><br>

        <form th:action="@{/games}" method="get">
            <div class="row">
                <div class="col-4">
                    <input type="text" id="txtSearch" name="keyword" class="form-control col-12">
                </div>

                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Search game</button>
                </div>
            </div>
        </form>

        <br>
        <br>
        <table class="table table-striped table-light table-hover text-center">
            <tr class="thead-dark">
                <th>Picture</th>
                <th>Name</th>
<!--                <th>Description</th>-->
                <th>Release Date</th>
                <th>Producer</th>
                <th>Type</th>
                <th>Platfroms</th>
                <th></th>
            </tr>
            <tr th:each="game: ${games}">
                <td><img class="img " th:src="@{'gameImages/' + ${game.getPicture()}}" th:width="60px" th:height="80px"/></td>
                <td th:text="${game.getName()}"></td>
<!--                <td th:text="${game.getDescription()}"></td>-->
                <td th:text="${game.getReleaseDate()}"></td>
                <td th:text="${game.getProducer().getName()}"></td>
                <td th:text="${game.getType()}"></td>
                <td th:text="${game.getPlatfroms()}"></td>
                <td>
                    <a th:href="@{/detailsGame{id}(id=${#numbers.formatInteger(game.getId(),1)})}">
                        <button class="btn btn-success">Details</button>
                    </a>

                    <a sec:authorize="hasAuthority('admin')" th:href="@{/editGame{id}(id=${#numbers.formatInteger(game.getId(),1)})}">
                        <button class="btn btn-info">Edit</button>
                    </a>

                    <a sec:authorize="hasAuthority('admin')" th:href="@{/deleteGame{id}(id=${#numbers.formatInteger(game.getId(),1)})}">
                        <button class="btn btn-danger">Delete</button>
                    </a>
                </td>
        </table>
    </div>
</div>
</body>
</html>