<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <br>
    <div class="container">
        <a sec:authorize="hasAuthority('critic')" th:href="@{/createReview}">
            <button class="btn btn-info" >Add Review</button>
        </a>
        <br>
        <br>
<!--        <table class="table table-striped table-light table-hover text-center">-->
<!--            <tr class="thead-dark">-->
<!--                <th>Picture</th>-->
<!--                <th>Title</th>-->
<!--                <th>Rating</th>-->
<!--                <th>Critic</th>-->
<!--                <th></th>-->
<!--            </tr>-->
<!--            <tr th:each="review: ${reviews}">-->
<!--                <td><img class="img " th:src="@{'gameImages/' + ${review.getGame().getPicture()}}" th:width="60px" th:height="80px"/></td>-->
<!--                <td th:text="${review.getTitle()}"></td>-->
<!--                <td th:text="${review.getRating()}"></td>-->
<!--                <td th:text="${review.getUser().getName()}"></td>-->
<!--                <td>-->
<!--                    <a th:href="@{/detailsReview{id}(id=${#numbers.formatInteger(review.getId(),1)})}">-->
<!--                        <button class="btn btn-success">Details</button>-->
<!--                    </a>-->

<!--                    <a th:href="@{/editReview{id}(id=${#numbers.formatInteger(review.getId(),1)})}">-->
<!--                        <button class="btn btn-info">Edit</button>-->
<!--                    </a>-->

<!--                    <a th:href="@{/deleteReview{id}(id=${#numbers.formatInteger(review.getId(),1)})}">-->
<!--                        <button class="btn btn-danger">Delete</button>-->
<!--                    </a>-->
<!--                </td>-->
<!--        </table>-->


        <div class="row">
            <div class="col-md-3" th:each="review: ${reviews}" style="padding-bottom: 10px; padding-top: 10px">
                <div class="card text-center" style="width: 18rem; padding: 5px">
                    <img class="card-img-top" th:src="@{'gameImages/' + ${review.getGame().getPicture()}}" alt="Card image cap" width="280px" height="360px">
                    <div class="card-body">
                        <h3 class="card-title" th:text="${review.getTitle()}"></h3>
                        <p class="card-text" th:text="'Critic: '+${review.getUser().getName()}"></p>
                        <p class="card-text" th:text="${'Rating: '+review.getRating()+'/10'}"></p>


                        <a th:href="@{/detailsReview{id}(id=${#numbers.formatInteger(review.getId(),1)})}">
                            <button class="btn btn-success">Show</button>
                        </a>

                        <a th:if="${#authentication.name.equals(review.getUser().getName())}" th:href="@{/editReview{id}(id=${#numbers.formatInteger(review.getId(),1)})}">
                            <button class="btn btn-info">Edit</button>
                        </a>

                        <a sec:authorize="hasAuthority('admin')" th:href="@{/deleteReview{id}(id=${#numbers.formatInteger(review.getId(),1)})}">
                            <button class="btn btn-danger">Delete</button>
                        </a>

                    </div>
                </div>
            </div>
        </div>









    </div>
</div>
</body>
</html>